URL=URL=localhost:5000

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=

TEST_BASE_URL=http://localhost:5000/api/timeline_post


# if running inside Docker container, need this pwd for db service
MYSQL_ROOT_PASSWORD=

TESTING=false