URL=localhost:5000

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=

# for running curl-test.sh locally
TEST_BASE_URL=http://localhost:5000/api/timeline_post

# for running curl-test.sh on VPS server
TEST_BASE_URL_PROD=https://cynthiawong.duckdns.org/timeline_post

# running mySQL server inside Docker container needs this pwd for db service
MYSQL_ROOT_PASSWORD=

# for docker prod nginx service
EMAIL=

TESTING=false # This should automatically switch to true when running scripts/run-tests.sh (which uses in-memory sqlite db, not mySQL), otherwise this remains false